/* styles.css */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-image: url(./5.webp);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: #333;
}

.virtual-assistant {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

h1 {
  color: #c932af; 
  font-size: 3rem; 
  text-align: center;
}

.virtual-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  max-width: 800px;
  width: 100%;
}

.interaction-section {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px; 
}

.interaction-section h2 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #e24ad5;
  width: 100%;
}

.input-section input[type="text"] {
  flex: 2;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 0.9rem;
  margin-right: 10px; 
}

.input-section input[type="file"] {
  flex: 1;
}

.voice-button {
  margin-right: 10px; 
}

.voice-button,
.submit-button {
  background-color: #c932af; 
  color: #f7f7f7; 
  border: 1px solid #A9A9A9; 
  border-radius: 4px;
  padding: 8px 12px; 
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.voice-button:hover,
.submit-button:hover {
  background-color: #A9A9A9; 
  color: #fff; 
}

img {
  width: 90px;
  height: 90px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.response-section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
}

.response-section h3 {
  font-size: 1rem;
  color: #333;
}

.response-section img {
  max-width: 100%;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.response-section p {
  font-size: 1.1rem;
  color: #555;
  line-height: 1.5;
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
}


/* Responsive Design */
@media (min-width: 600px) {
  .response-section {
    grid-template-columns: 1fr 1fr;
  }
}
